.masthead {
  background-color: $white;
  box-shadow: 0 .25em 0 rgba($black, 0.2);
  padding: 4em 0;
  position: relative;
  z-index: 10;
}

.masthead_logo-main {
  margin: 0 auto;
  max-width: 15em;
}